h1 {
	background-color: lightyellow;
	padding: 5pt;
	margin-top: 2pt;
}

h2 {
	background-color: lightyellow;
	padding: 5pt;
	margin-top: 0pt;
}

blockquote {
	background-color: lightyellow;
	padding: 5pt;
	margin-right: 0pt;
	margin-left: 10pt;
}

pre {
	background-color: lightyellow;
	padding: 5pt;
	margin-top: 0pt;
}